{% extends "bootstrap.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<style type="text/css">
body{
	background: #AED6F1;
}
	.rowan{
		margin-top: 43px;
		margin-right:10px;
		display: ;
	}

	.bt2{
		margin-top: 2px;
	}
	.first ul li{
		display: inline;
		float: right;
		margin-right: 2%;
	}
	.nn{
		text-decoration: none;
	}

	.second ul li{
       display: inline;
       margin-right: 2%;
	}
</style>
<body>

<header>
		<nav class="first">
			<ul>
				<li><a href="{{url_for('logout')}}">Logout</a></li>
				<li><a href="{{url_for('account')}}" class="nn">{{current_user.username}}</a></li>
			</ul>
		</nav>
	</header>

   <center>
   	<nav class="second">
		<ul>
			<li><a id="dash" href="#">Dashbord</a></li>
			<li><a id="new_data" href="#">New-Data</a></li>
			<li><a id="daily_page" href="#">Daily-Payments</a></li>
			<li><a id="new_student" href="#">New-Student</a></li>
			<li><a id="report" href="#">Reports</a></li>
		</ul>
	</nav>
   </center>
	
<div class="row">
	<div class="col rowan">
		<a href="{{url_for('student_payment')}}">
		<div class="row bt2">
			<button type="button" class="btn btn-danger">Enter Payment Data</button>
		</div>
		</a>
		<a href="{{url_for('expenses')}}">
		<div class="row bt2">
			<button type="button" class="btn btn-danger">Enter Expense Data</button>
		</div>
		</a>
		<a href="{{url_for('student_data')}}">
		<div class="row bt2">
			<button type="button" class="btn btn-danger">Register New Student</button>
		</div>
		</a>
		<div class="row bt2">
			<button type="button" class="btn btn-danger" id="buttt4" onclick="brief_summary_report()">View Day Report</button>
		</div>
		<div class="row bt2">
			<button type="button" class="btn btn-danger" id="buttt5" onclick="brief_summary_report2()">View Day Payment Report</button>
		</div>
		<div class="row bt2">
			<button type="button" class="btn btn-danger" id="buttt6" onclick="brief_summary_report3()">View Day Expense Report</button>
		</div>
	</div>
	<div class="col">
		<div class="row" style="display: none;" id="table1">
			<center><label>Brief Statistics</label></center>
		<table class="table table-dark table-hover" style="margin-top: 20px;" id="">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Date</th>
		      <th scope="col">Details</th>
		      <th scope="col">Receipt</th>
		      <th scope="col">Analysis</th>
		      <th scope="col">Amount</th>
		      <th scope="col"></th>
		      <th scope="col">Balance</th>
		    </tr>
		  </thead>
		  <tbody>
			    <tr>
			      <th scope="row">0</th>
			      <td>2022-1-12</td>
			      <td>Sales-Today: {{now1}}</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td>{{ values2 | currencyFormat }}</td>
			    </tr>
			    <tr>
			      <th scope="row">0</th>
			      <td>2022-1-12</td>
			      <td>Monthly Sales</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td>{{ inc_m | currencyFormat }}</td>
			    </tr>
			    <tr>
			      <th scope="row">0</th>
			      <td>2022-1-12</td>
			      <td>Expenses-Today: {{now1}}</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td>{{ values | currencyFormat }}</td>
			    </tr>
			    <tr>
			      <th scope="row">0</th>
			      <td>2022-1-12</td>
			      <td>Expenses-This Month </td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td>{{ exp_m | currencyFormat }}</td>
			    </tr>
		  </tbody>
		 </table>
		</div>
		<div class="row" style="display: none;" id="table2">
		<center><label>Daily Income Statistics</label></center>
		<table class="table table-dark table-hover" style="margin-top: 20px;" id="">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Date</th>
		      <th scope="col">Details</th>
		      <th scope="col">Receipt</th>
		      <th scope="col">Analysis</th>
		      <th scope="col">Amount</th>
		      <th scope="col"></th>
		      <th scope="col">Balance</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for item in inc %}
			    <tr>
			      <th scope="row">{{loop.index}}</th>
			      <td>{{item.date.date()}}</td>
			      <td>{{item.student_fullname}}</td>
			      <td></td>
			      <td>{{item.category}}</td>
			      <td class="currency1">{{ item.amount | currencyFormat }}</td>
			      <td></td>
			      <td class="currency1">{{ inc_cum[loop.index-1] | currencyFormat }}</td>
			    </tr>
			    {% endfor %}
		  </tbody>
		 </table>
		</div>
		<div class="row" style="display: none;" id="table3">
		<center><label>Daily Expenses Statistics</label></center>
		<table class="table table-dark table-hover" style="margin-top: 20px;" id="">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Date</th>
		      <th scope="col">Details</th>
		      <th scope="col">Receipt</th>
		      <th scope="col">Analysis</th>
		      <th scope="col">Amount</th>
		      <th scope="col"></th>
		      <th scope="col">Balance</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for item in exp %}
			    <tr>
			      <th scope="row">{{loop.index}}</th>
			      <td>{{item.date.date()}}</td>
			      <td>{{item.item}}</td>
			      <td></td>
			      <td>{{item.mode_of_payment}}</td>
			      <td>{{ item.amount | currencyFormat }}</td>
			      <td></td>
			      <td>{{ exp_cum[loop.index-1] | currencyFormat }}</td>
			    </tr>
			    {% endfor %}
		  </tbody>
		 </table>
		</div>
	</div>
	<div class="col"></div>
</div>


<script type="text/javascript">
	function brief_summary_report(){
		tb1 = document.querySelector('#table1')
		tb1.style.display = "block"
	}

	function brief_summary_report2(){
		tb1 = document.querySelector('#table2')
		tb1.style.display = "block"
	}

	function brief_summary_report3(){
		tb1 = document.querySelector('#table3')
		tb1.style.display = "block"
	}

  document('#dash')function{
    
  }
</script>
</body>
</html>



{% endblock %}